:root {
  --color-blue-50: #8bb8f1;
  --color-blue-100: #6fa7ee;
  --color-blue-200: #5497eb;
  --color-blue-300: #3986e8;
  --color-blue-400: #1d75e4;
  --color-blue-500: #1867cb;
  --color-blue-600: #1559b0;
  --color-blue-700: #124b94;
  --color-blue-800: #0e3d79;
  --color-blue-900: #0b2f5d;
  --color-blue-base: #1867cb;
  --color-text-main-base: #e3e4e9;
  --color-text-secondary-base: #9d9da5;
  --color-foreground-base: #373743;
  --color-background-base: #15151d;
  --color-accent-base: #f7451f;
  --color-accent-active-base: #fe7736;
  --color-accent-2-base: #1867cb;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.4rem;
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --line-height-short: 1;
  --line-height-normal: 1.5;
  --line-height-tall: 2;
  --box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --box-shadow-lg: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-dark-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}